@keyframes pulse-slow {
  0%, 100% {
    transform: scale(1) translate(0px, 0px);
  }
  33% {
    transform: scale(1.1) translate(30px, -50px);
  }
  66% {
    transform: scale(0.9) translate(-20px, 20px);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 15s infinite ease-in-out;
}

.animate-pulse-slow-reverse {
  animation: pulse-slow 20s infinite ease-in-out reverse;
}